<div class="container mt-5 mb-5">
 <h1 class="text-center">About</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur animi dolore harum quisquam voluptates cum ipsum et necessitatibus aliquam impedit fugiat, architecto numquam suscipit tempora porro obcaecati dolorum pariatur repellat.</p>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis voluptatem corporis quidem magnam saepe officiis veniam in earum nisi voluptatibus ratione voluptatum culpa nam molestiae esse distinctio fugiat, excepturi fugit!
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error dolore harum laudantium corporis hic aspernatur, voluptatum voluptates quibusdam suscipit quaerat magnam est. Sequi excepturi reprehenderit corrupti non, voluptas ad odio?
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas porro aliquid ea laborum, repudiandae possimus autem, ad unde, quibusdam maiores repellendus nostrum deleniti? Odit temporibus quo sunt dolor assumenda. Rerum.
   <br/>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero explicabo laborum possimus veniam voluptatem, quos suscipit, dolorum neque veritatis exercitationem nostrum ea aliquam vero itaque officia. Architecto quod laborum voluptates.
   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro vitae earum nam veritatis magnam consequatur quam. Deleniti, pariatur magnam? Cumque incidunt accusantium in libero. Fugit suscipit ratione doloribus molestiae aliquam.
   <br/>
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio, provident! Libero, aspernatur dolorem. Commodi ducimus quas ad, amet quibusdam debitis adipisci hic perferendis nobis ea incidunt est corrupti eligendi quod!
   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi possimus, explicabo facere aspernatur nobis quia cumque nesciunt doloribus vitae inventore commodi velit nihil ipsa sequi perspiciatis officiis. Magni, architecto corrupti?
   <br/>
   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium obcaecati voluptates ab, cupiditate corrupti possimus ipsum, facere, sed minus a perspiciatis? Quas ipsa consequatur pariatur doloremque. Delectus adipisci animi doloribus?
   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, fugiat? Recusandae, voluptatum eligendi perferendis asperiores delectus placeat officiis! Debitis ratione amet id corrupti atque iusto, sapiente aut labore deleniti animi.
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ex quis iusto. Tempore consectetur, perspiciatis totam modi ut ducimus corporis nemo dolorem doloremque magnam aliquam, reprehenderit repellendus commodi voluptatum dolor?
   <br/>

</div>